Repository test-org-ak/test, changes with the owners that CODEOWNERS names for each.
All owners: @test-org-ak/test-team, @testuser-ak, @ajinkyak423, @@test-org-ak/test-team-a

CODEOWNERS:

*.py @test-org-ak/test-team
*.txt
*.sh @testuser-ak @ajinkyak423
*.yaml @@test-org-ak/test-team-a

Create tesmp.py
  tesmp.py
Owners: @test-org-ak/test-team

Create mt.txt
  mt.txt
Owners: none

Create sf.sh
  sf.sh
Owners: @testuser-ak, @ajinkyak423

Create you.yaml
  you.yaml
Owners: @@test-org-ak/test-team-a

Update mt.txt
  mt.txt
Owners: none

Update mt.txt
  mt.txt
Owners: none

Update mt.txt
  mt.txt
Owners: none

Update you.yaml
  you.yaml
Owners: @@test-org-ak/test-team-a

Update you.yaml
  you.yaml
Owners: @@test-org-ak/test-team-a
